[Unit]
Description=Barcode Reader Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/
ExecStart=/usr/bin/python3 /home/pi/Desktop/wwwroot/scripts/barcode.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 